* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    background: url("https://66bb4ca6b2c61f039b0d047f--visionary-stardust-d6a6c2.netlify.app/media/download.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.rows {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.one{
    margin-top: 40px;
}
.item {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.coac {
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.avva {
    color: #2fc48d;
    font-size: 16px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.fa-user {
    font-size: 20px;
}

.fa-magnifying-glass {
    font-size: 20px;
}

.icons button {
    padding: 10px;
    border: none;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    background-color: #2fc48d;
}

.row-two {
    display: flex;
    align-items: center;
}

.hero {
    width: 100%;
}

.name {
    font-size: 30px;
    color: #2fc48d;
}

.now {
    font-size: 60px;
    width: 500px;
    padding: 30px 0;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.des {
    font-size: 25px;
    font-weight: 600;
    width: 760px;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 20px 0;
}

.start {
    border: #000 solid 3px;
    padding: 16px 34px;
    background-color: #fff;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.5s;
}

.start:hover {
    background-color: #2fc48d;
    color: #fff;
}

video {
    width: 200px;
    height: 100px;
    border-radius: 20px;
}



.fasolid {
    position: relative;
    padding: 18px;
    border-radius: 20%;
    background-color: #2fc48d;
    color: #fff;
    font-size: 20px;
    transition: padding 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.test {
    display: none;
}

.fasolid:hover {
    padding: 18px 40px;
}

.fasolid:hover .test {
    /* right: 30px;
    opacity: 1; */
    display: block;
}

.medium {
    display: flex;
    align-items: center;
}

.btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0 120px 0;
}